<!-- program something to get the guest to register -->
<%= render 'shared/call_to_action_jumbotron', title: 'Hello Guest!',
                                              help_text: "Nice Secret Santa you've got there. If you'd like to be able to easily find your Secret Santa's year over year, sign up here!",
                                              link_text: 'Register',
                                              url: new_user_registration_path unless current_user %>


<!-- show some object details -->
<div class="page-header">
  <div class="row">
    <div class="col-lg-4">
      <div class="secret-santa-name">
        <%= content_tag :h1 do %>
        <%= secret_santa.name %> <small><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-pencil'), edit_secret_santum_path(secret_santa) unless secret_santa.complete? %> <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-trash'), secret_santum_path(secret_santa), method: :delete unless secret_santa.complete? %></small>
        <% end %>
      </div>
    </div>

    <% if secret_santa.complete? %>
      <div class="col-lg-4 text-center">
        <div class="alert alert-success top-10">
          <p>This Secret Santa was last run on <strong><%= secret_santa.last_run_on %></strong>.</p>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="btn-group top-10">
          <%= link_to 'Create New Secret Santa', new_secret_santum_path, class: 'btn btn-primary btn-lg' %>
          <%= link_to 'Clone This Sectret Santa', clone_secret_santum_path(secret_santa), class: 'btn btn-info btn-lg' %>
        </div>
      </div>
    <% else %>
      <%= content_tag :div, class: 'col-lg-4' do %>
        <div class="alert alert-info top-10">
          <p><strong>This is a test for the following reason(s):</strong></p>
          <ul>
            <%= content_tag :li, 'You have checked off that this is a test.' if secret_santa.test_run.present? %>
            <%= content_tag :li, 'You haven\'t selected for an email or file to be used.' if !secret_santa.send_file? && !secret_santa.send_email? %>
          </ul>
        </div>
      <% end if secret_santa.test? %>

      <%= form_for secret_santa, url: match_secret_santum_path do |f| %>
        <div class="<%= secret_santa.test? ? 'col-lg-offset-2' : 'col-lg-offset-6' %> col-lg-2 top-15">
          <div class="btn-group">
            <label class="btn btn-primary btn-lg">
              <%= f.check_box :test_run, {}, secret_santa.test_run || Time.zone.now, '' %> Test
            </label>
            <%= f.submit 'Make Magic!', class: 'btn btn-success btn-lg', disabled: !secret_santa.ready? %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



<div class="row">
  <div class="col-lg-12">
    <h2>Here's who's in:</h2>
  </div>
</div>

<%= content_tag :div, class: 'row' do %>
  <div class="col-lg-12">
    <div class="alert alert-danger secret-santa-ready">
      <p>Not all participants in this secret santa can be matched with another person. Please make sure the setting are updated in order to run the matching process.</p>
    </div>
  </div>
<% end unless secret_santa.ready? %>

<div class="row secret-santa-participants">
  <% secret_santa.secret_santa_participants.each do |participant| %>
    <div class="col-lg-3">
      <div class="participant panel panel-default">
        <div class="panel-heading">
          <%= content_tag :h3, participant.name %>
        </div>
        <div class="panel-body">
          <% exceptions = participant.secret_santa_participant_exceptions.any? %>
          <p>Can buy for anyone<%= exceptions ? ' except:' : '!' %></p>
        </div>
        <%= content_tag :ul, class: 'list-group' do %>
          <% participant.secret_santa_participant_exceptions.each do |exception| %>
            <%= content_tag :li, exception.name, class: 'list-group-item' %>
          <% end %>
        <% end if exceptions %>
      </div>
    </div>
  <% end %>
</div>
