<!-- program something to get the guest to register -->
<%= render 'shared/call_to_action_jumbotron', title: 'Hello Guest!',
                                              help_text: "Nice Secret Santa you've got there. If you'd like to be able to easily find your Secret Santa's year over year, sign up here!",
                                              link_text: 'Register',
                                              url: new_user_registration_path unless current_user %>


<!-- show some object details -->
<div class="row">
  <div class="col-lg-12">
    <div class="secret-santa-name page-header">
      <%= content_tag :h1 do %>
        <%= secret_santa.name %> <small><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-pencil'), edit_secret_santum_path(secret_santa) unless secret_santa.complete? %> <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-trash'), secret_santum_path(secret_santa), method: :delete unless secret_santa.complete? %></small>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Here's who's in:</h2>
  </div>
</div>

<%= content_tag :div, class: 'row' do %>
  <div class="col-lg-12">
    <div class="alert alert-danger secret-santa-ready">
      <p>Not all participants in this secret santa can be matched with another person. Please make sure the setting are updated in order to run the matching process.</p>
    </div>
  </div>
<% end unless secret_santa.ready? %>

<div class="row secret-santa-participants">
  <% secret_santa.secret_santa_participants.each do |participant| %>
    <div class="col-lg-3">
      <div class="participant panel panel-default">
        <div class="panel-heading">
          <%= content_tag :h3, participant.name %>
        </div>
        <div class="panel-body">
          <% exceptions = participant.secret_santa_participant_exceptions.any? %>
          <p>Can buy for anyone<%= exceptions ? ' except:' : '!' %></p>
        </div>
        <%= content_tag :ul, class: 'list-group' do %>
          <% participant.secret_santa_participant_exceptions.each do |exception| %>
            <%= content_tag :li, exception.name, class: 'list-group-item' %>
          <% end %>
        <% end if exceptions %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h2>Ready to begin?</h2>
    </div>
  </div>
</div>

<div class="row text-center">
  <%= render 'match_button', secret_santa: secret_santa %>
</div>
