<div class="row">
  <div class="col-lg-12">
    <div class="secret-santa-setup-breadcrumbs text-center">
      <% persisted = secret_santa.persisted? %>
      <%= link_to_if step != 1 && persisted, 'Name it!',  persisted ? edit_secret_santum_path(secret_santa, step: 0) : 'javascript:void(0)' %> <strong>&nbsp;|&nbsp;</strong>
      <%= link_to_if step != 2 && persisted, 'Who Are You?', persisted ? edit_secret_santum_path(secret_santa, step: 1) : 'javascript:void(0)' %> <strong>&nbsp;|&nbsp;</strong>
      <%= link_to_if step != 3 && persisted, 'Who\'s In?', persisted ? edit_secret_santum_path(secret_santa, step: 2) : 'javascript:void(0)' %> <strong>&nbsp;|&nbsp;</strong>
      <%= link_to_if step != 4 && persisted, 'Any Exceptions?', persisted ? edit_secret_santum_path(secret_santa, step: 3) : 'javascript:void(0)' %> <strong>&nbsp;|&nbsp;</strong>
      <%= link_to_if step != 5 && persisted, 'How Do I Contact Them?', persisted ? edit_secret_santum_path(secret_santa, step: 4) : 'javascript:void(0)' %>
    </div>
  </div>
</div>
