<%= render 'errors', object: secret_santa if secret_santa.errors.any? %>

<%= simple_form_for secret_santa do |f| %>
  <h1>New Secret Santa</h1>
  <%= hidden_field_tag :step, @step %>
  <h2>Who doesn't want to buy for who?</h2>
  <details>
    <summary>What's this mean?</summary>
    <p>There may be a reason someone does not want/need to buy for another.</p>
    <p>Set some exceptions for the participants so they don't get matched up!</p>
  </details>

  <div id="secret_santa_participant_exceptions" class="row well well-compact">
    <%= f.fields_for :secret_santa_participants do |secret_santa_participant| %>
      <%= render 'secret_santa_participants/exception_fields', f: secret_santa_participant %>
    <% end %>
  </div>

  <%= f.submit 'Next', class: 'btn btn-success' %>
<% end %>
