<% page_title 'Secret Santas' %>

<div class="jumbotron">
  <div class="container-fluid text-center">
    <h1>Secret Santa Helper</h1>
    <p>Making a Secret Santa shouldn't be hard.</p>

    <div class="row top-30 text-left">
      <div class="col-lg-offset-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <%= render 'shared/card',
                   title: 'Step 1.',
                   description: 'Your name, it\'s name, and some security.',
                   img: { name: 'secret_santa_info', title: 'Standard Info', alt: 'Standard Info' } %>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <%= render 'shared/card',
                   title: 'Step 2.',
                   description: 'Add some friends and family!',
                   img: { name: 'secret_santa_friends_family', title: 'Friends and Family', alt: 'Friends and Family' } %>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <%= render 'shared/card',
                   title: 'Step 3.',
                   description: 'Not everyone wants to buy for just anyone.',
                   img: { name: 'secret_santa_yes_no', title: 'Exceptions', alt: 'Exceptions' } %>
      </div>
    </div>

    <div class="row top-30">
      <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-12 col-xs-12 text-center">
        <%= link_to 'Create one now!', new_secret_santum_path, class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="secret-santa-name page-header">
      <h2>Secret Santas</h2>
    </div>
  </div>
</div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="<%= active?(params[:active], 'mine') %>"><%= link_to 'Mine', '#mine', aria: { controls: 'mine' }, role: 'tab', data: { toggle: 'tab' } %></li>
    <li role="presentation" class="<%= active?(params[:active], 'search') %>"><%= link_to 'Search', '#search', aria: { controls: 'search' }, role: 'tab', data: { toggle: 'tab' } %></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane <%= active?(params[:active], 'mine') %>" id="mine">
      <div class="row  top-15">
        <div class="col-lg-12">
          <%= render 'shared/call_to_action_jumbotron', { title: 'Hello Guest!',
                                                          help_text: "Here you would usually find your previous Secret Santa's. Sign up or login to unlock this section.",
                                                          link_text: 'Sign up now!',
                                                          url: new_user_registration_path } unless current_user %>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane <%= active?(params[:active], 'search') %>" id="search">
      <div class="row top-15">
        <div class="col-lg-12">
          <%= form_tag secret_santa_path, method: :get do |f| %>
            <%= hidden_field_tag :active, 'search' %>
            <div class="row">
              <div class="col-lg-3">
                <div class="form-group">
                  <%= label_tag 'search[email]', 'Email', class: 'sr-only' %>
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    <%= search_field_tag 'search[email]', params.dig(:search, :email), placeholder: 'Email', required: true, class: 'form-control input-lg', autocomplete: :off %>
                  </div>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  <%= label_tag 'search[name]', 'Name', class: 'sr-only' %>
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    <%= search_field_tag 'search[name]', params.dig(:search, :name), placeholder: 'Secret Santa Name', class: 'form-control input-lg', autocomplete: :off %>
                  </div>
                </div>
              </div>

              <div class="col-lg-2">
                <%= submit_tag 'Search', class: 'btn btn-primary btn-lg' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <% if @secret_santas.blank? %>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p><strong>No Secret Santas found.</strong></p>
            <p>Please enter search criteria to get started!</p>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    <h3>Name</h3>
                  </th>
                  <th>
                    <h3>Participants</h3>
                  </th>
                  <th>
                    <h3>Complete?</h3>
                  </th>
                  <th>
                    <h3>Secured?</h3>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @secret_santas.each do |ss| %>
                  <tr>
                    <td>
                      <%= link_to ss.name || 'Secret Santa', secret_santum_path(ss) %>
                    </td>
                    <td>
                      <%= pluralize(ss.secret_santa_participants.size, 'Participant') %>
                    </td>
                    <td class="text-center">
                      <%= content_tag :span, '', class: "glyphicon #{ss.complete? ? 'glyphicon-ok' : 'glyphicon-remove'}", title: "This Secret Santa is #{ss.complete? ? 'complete' : 'incomplete'}." %>
                    </td>
                    <td class="text-center">
                      <%= content_tag :span, '', class: "glyphicon #{ss.secure? ? 'glyphicon-lock' : 'glyphicon-ok-circle'}", title: "This Secret Santa is #{ss.complete? ? 'locked' : 'unlocked'}." %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
