<!-- program something to get the guest to register -->



<!-- show some object details -->
<div class="row">
  <div class="col-lg-12">
    <div class="secret-santa-name">
      <%= content_tag :h1 do %>
        <%= @secret_santa.name %> <small><%= link_to 'Edit', edit_secret_santum_path(@secret_santa) %></small>
      <% end %>
    </div>
  </div>
</div>

<%= content_tag :div, class: 'row' do %>
  <div class="col-lg-12">
    <div class="alert alert-warning secret-santa-ready">
      <p>Not all participants in this secret santa can be matched with another person. Please make sure the setting are updated in order to run the nmatching process.</p>
    </div>
  </div>
<% end unless @secret_santa.ready? %>

<div class="row">
  <div class="col-lg-12">
    <h2>Here's who's in:</h2>
  </div>
</div>

<div class="row secret-santa-participants">
  <% @secret_santa.secret_santa_participants.each do |participant| %>
    <div class="col-lg-6">
      <div class="participant well well-compact">
        <div class="name">
          <%= content_tag :p, participant.name %>
        </div>
        <div class="exceptions">
          <% exceptions = participant.secret_santa_participant_exceptions.any? %>
          <p>Can buy for anyone<%= exceptions ? ' except:' : '!' %></p>

          <%= content_tag :ul do %>
            <% participant.secret_santa_participant_exceptions.each do |exception| %>
              <%= content_tag :li, exception.user.name %>
            <% end %>
          <% end if exceptions %>
        </div>
      </div>
    </div>
  <% end %>
</div>
