<%= render 'errors', object: secret_santa if secret_santa.errors.any? && !back %>

<%= simple_form_for secret_santa, remote: js do |f| %>
  <div class="page-header">
    <h1><%= link_to_if secret_santa.persisted?, secret_santa.name || 'New Secret Santa', secret_santa %></h1>
  </div>

  <%= render 'shared/progress_bar', max_step: max_secret_santa_step, step: step, pre_title: 'Setup Step' %>
  <%= render 'secret_santa/wizard/step_progress_breadcrumbs', secret_santa: secret_santa, step: step %>
  <%= hidden_field_tag :step, step %>
  <div class="page-header">
    <h2>Who doesn't want to buy for who?</h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">What's this mean?</div>
    <div class="panel-body">
      <p>There may be a reason someone does not want/need to buy for another.</p>
      <p>Set some exceptions for the participants so they don't get matched up!</p>
    </div>
  </div>


  <% f.object.secret_santa_participants.in_groups_of(3).each do |grp| %>
    <div class="row">
      <%= f.fields_for :secret_santa_participants, grp.compact do |secret_santa_participant| %>
        <%= render 'secret_santa_participants/exception_fields', f: secret_santa_participant %>
      <% end %>
    </div>
  <% end %>

  <%= render 'secret_santa/wizard/buttons', f: f, max_step: max_secret_santa_step, step: step %>
<% end %>
