<%= render 'errors', object: secret_santa if secret_santa.errors.any? && !back %>

<%= simple_form_for secret_santa, url: secret_santa.persisted? ? secret_santum_path(secret_santa) : secret_santa_path do |f| %>
  <div class="page-header">
    <h1><%= link_to_if secret_santa.persisted?, secret_santa.name || 'New Secret Santa', secret_santa %></h1>
  </div>

  <%= render 'shared/progress_bar', max_step: max_secret_santa_step, step: step, pre_title: 'Setup Step' %>
  <%= render 'secret_santa/wizard/step_progress_breadcrumbs', secret_santa: secret_santa, step: step %>
  <%= hidden_field_tag :step, step %>

  <div class="page-header">
    <h2>What would you like to name/call it?</h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">What's this used for?</div>
    <div class="panel-body">
      <p>This will be your reference back to this Secret Santa.</p>
      <p>You can also use this title later on in the setup process for emails/text files.</p>
    </div>
  </div>

  <div id="secret_santa_name">
    <%= f.input :name, autofocus: true %>
    <%= hidden_field_tag :step, step %>
  </div>

  <%= render 'secret_santa/wizard/buttons', f: f, max_step: max_secret_santa_step, step: step %>
<% end %>
