<%= render 'errors', object: secret_santa if secret_santa.errors.any? && !@back %>

<%= simple_form_for secret_santa do |f| %>
  <h1><%= link_to_if secret_santa.persisted?, secret_santa.name || 'New Secret Santa', secret_santa %></h1>
  <hr>
  <%= render 'shared/progress_bar', max_step: max_secret_santa_step, step: 4, pre_title: 'Setup Step' %>
  <%= render 'secret_santa/wizard/step_progress_breadcrumbs', secret_santa: secret_santa, step: 4 %>
  <%= hidden_field_tag :step, @step %>
  <h2>Who doesn't want to buy for who?</h2>
  <details>
    <summary>What's this mean?</summary>
    <p>There may be a reason someone does not want/need to buy for another.</p>
    <p>Set some exceptions for the participants so they don't get matched up!</p>
  </details>
  <hr>

  <div id="secret_santa_participant_exceptions" class="row">
    <div class="col-lg-8 well">
      <%= f.fields_for :secret_santa_participants do |secret_santa_participant| %>
        <%= render 'secret_santa_participants/exception_fields', f: secret_santa_participant %>
        <br>
      <% end %>
    </div>
  </div>

  <%= f.submit 'Next', class: 'btn btn-success' %>
  <%= f.submit 'Back', class: 'btn btn-primary', style: 'float:left;' %>
<% end %>
