<%= render 'errors', object: secret_santa if secret_santa.errors.any? && !back %>

<%= simple_form_for secret_santa, url: secret_santa.persisted? ? secret_santum_path(secret_santa) : secret_santa_path, remote: js do |f| %>
  <div class="page-header">
    <h1><%= link_to_if secret_santa.persisted?, secret_santa.name || 'New Secret Santa', secret_santa %></h1>
  </div>

  <%= render 'shared/progress_bar', max_step: max_secret_santa_step, step: step, pre_title: 'Setup Step' %>
  <%= render 'secret_santa/wizard/step_progress_breadcrumbs', secret_santa: secret_santa, step: step %>
  <%= hidden_field_tag :step, step %>

  <div class="page-header">
    <h2>First Steps</h2>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>What would you like to call it &amp; When is it hapenning?</h4>
        </div>
        <div class="panel-body">
          <div id="secret_santa_name">
            <%= f.input :name, autofocus: true, label_html: { class: 'hidden' }, placeholder: 'Name' %>
          </div>
          <div id="secret_santa_exchange_date">
            <%= f.input :exchange_date, as: :date_time_picker, label_html: { class: 'hidden' }, placeholder: 'Exchange Date' %>
          </div>
        </div>
        <div class="panel-footer">
          <h5>Why?</h5>
          <p>The name will help you remember this Secret Santa.</p>
          <p>Emails sent to your participants will have this title in it.</p>
          <p>Results will be displayed after the exchange date has been passed.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Who are you?</h4>
        </div>
        <div class="panel-body">
          <div id="secret_santa_user">
            <%= f.simple_fields_for :user do |user| %>
              <%= render 'users/user_fields', f: user, guest: current_user.nil? %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= content_tag :div, class: "col-lg-4" do %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Secure It!</h4>
        </div>
        <div class="panel-body">
          <div id="secret_santa_security">
            <%= f.input :passphrase, label_html: { class: 'hidden' }, placeholder: 'Passphrase' %>
          </div>
        </div>
        <div class="panel-footer">
          <h5>Why?</h5>
          <p>Currently you are a guest on the site. If you'd rather other people not be able to find and enter your Secret Santa, give it a passphrase!</p>
          <p>Guidelines:</p>

          <ul>
            <li>Minimum of 6 characters.</li>
            <li>Use letters numbers and symbols.</li>
            <li>Make sure it's memerable!</li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'secret_santa/wizard/buttons', f: f, max_step: max_secret_santa_step, step: step %>
<% end %>
