<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield :title %>
    </title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <%= render 'layouts/nav', margin_none: true %>

    <%= render 'shared/flash_messages' %>
    <div class="jumbotron">
      <div class="container-fluid">
        <h1>Welcome to AppHelper</h1>
        <p>Find your app solutions to different problems in your life!</p>
        <p><a class="btn btn-primary btn-lg" href="#applications" role="button">Learn more</a></p>
      </div>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
  <footer class="footer">
    &nbsp;
  </footer>
</html>
